<div class="grid grid-nogutter">
  <div class="col-12">
    <div class="flex flex-column sm:flex-row gap-4 justify-content-between">
      <!-- First Column -->
      <div
        class="col-2 flex flex-column text-xl font-bold justify-content-between align-items-start gap-4"
      >
        <div>Vorname:</div>
        <div>Nachname:</div>
        <div>Email:</div>
        <div>Geburtstag:</div>
        <div>Straße:</div>
        <div>Hausnummer:</div>
        <div>PLZ:</div>
        <div>Wohnort:</div>
      </div>
      <!-- Second Column -->
      <div
        class="col-4 flex flex-column text-xl justify-content-start align-items-start gap-4"
        *ngIf="!isEditView()"
      >
        <div>{{ store.user().first_name }}</div>
        <div>{{ store.user().last_name }}</div>
        <div>{{ store.user().email }}</div>
        <div>
          {{ store.user().birthday | date : "dd.MM.yyyy" }}
        </div>
        <div>{{ store.user().street }}</div>
        <div>{{ store.user().house_number }}</div>
        <div>{{ store.user().postcode }}</div>
        <div>{{ store.user().city }}</div>
      </div>
      <!-- Second Column Edit View-->
      <div
        class="col-4 flex flex-column justify-content-between align-items-start gap-1"
        *ngIf="isEditView()"
      >
        <input
          type="text"
          pInputText
          required="true"
          id="firstName"
          [formControl]="firstName"
        />
        <input
          type="text"
          pInputText
          required="true"
          id="lastName"
          [formControl]="lastName"
        />
        <input
          type="text"
          pInputText
          required="true"
          id="email"
          [formControl]="email"
        />
        <p-calendar
          [required]="true"
          [formControl]="birthday"
          dateFormat="dd.mm.yy"
        ></p-calendar>
        <input
          type="text"
          pInputText
          required="true"
          id="street"
          [formControl]="street"
        />
        <input
          pKeyFilter="int"
          pInputText
          required="true"
          id="houseNumber"
          [formControl]="houseNumber"
        />
        <input
          pInputText
          pKeyFilter="int"
          required="true"
          id="postcode"
          [formControl]="postcode"
        />
        <input
          type="text"
          pInputText
          required="true"
          id="city"
          [formControl]="city"
        />
      </div>
      <!-- Third Column -->
      <div class="col flex flex-column justify-content-between">
        <div class="flex flex-column gap-2">
          <div class="text-xl font-bold">Status:</div>
          <div class="flex align-items-center">
            <p-inputSwitch
              class="mr-2"
              [formControl]="isActive"
              *ngIf="isEditView()"
              (onChange)="switchActiveStatus()"
            ></p-inputSwitch>
            <div *ngIf="isActive.getRawValue(); else inactive">
              <p-tag value="Aktiv" severity="success"></p-tag>
            </div>
            <ng-template #inactive>
              <p-tag value="Inaktiv" severity="danger"></p-tag>
            </ng-template>
          </div>
        </div>
        <div *ngIf="!isEditView()">
          <div class="text-xl font-bold mb-3">Abteilungen:</div>
          <div *ngFor="let department of store.user().departments">
            <div class="text-xl mb-2">
              <i class="pi pi-angle-right mr-2"></i>{{ department.title }}
            </div>
          </div>
        </div>
        <div *ngIf="isEditView()" class="mb-4">
          <div class="text-xl font-bold mb-2">Abteilungen:</div>
          <div
            *ngFor="let department of store.departments(); index as i"
            class="flex flex-row justify-content-start align-items-center"
          >
            <p-button
              *ngIf="!findDepartment(department)"
              icon="pi pi-plus"
              [rounded]="true"
              [text]="true"
              severity="success"
              (click)="onSubscribeDepartment(department)"
            ></p-button>
            <p-button
              *ngIf="findDepartment(department)"
              icon="pi pi-minus"
              [rounded]="true"
              [text]="true"
              severity="danger"
              (click)="onUnsubscribeDepartment(department)"
            ></p-button>
            <div
              *ngIf="!findDepartment(department)"
              class="text-xl ml-2 text-300"
            >
              {{ department.title }}
            </div>
            <div *ngIf="findDepartment(department)" class="text-xl ml-2">
              {{ department.title }}
            </div>
          </div>
        </div>
        <div class="flex flex-row">
          <p-button
            class="mr-2"
            label="Bearbeiten"
            icon="pi pi-pencil"
            (click)="toggleEdit()"
            *ngIf="!isEditView()"
          ></p-button>
          <p-button
            label="Zurück"
            icon="pi pi-arrow-left"
            [text]="true"
            (click)="onBack()"
            *ngIf="!isEditView()"
          ></p-button>
          <span *ngIf="isEditView()" class="flex align-items-center">
            <p-button
              class="mr-2"
              label="Speichern"
              severity="success"
              icon="pi pi-save"
              (click)="onSave()"
            ></p-button>
            <p-button
              label="Zurück"
              icon="pi pi-arrow-left"
              [text]="true"
              (click)="toggleEdit()"
            />
            <p-button
              *ngIf="isEditView()"
              (click)="confirmDelete($event)"
              icon="pi pi-trash"
              size="large"
              [text]="true"
              severity="danger"
            />
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<p-confirmDialog [closable]="false"></p-confirmDialog>
