<!-- Eingabefelder -->
<div class="flex justify-content-center mt-3">
  <span class="p-float-label">
    <input
      type="text"
      pInputText
      required="true"
      id="firstName"
      [formControl]="firstName"
    />
    <label for="firstName">Vorname</label>
  </span>
  <span class="p-float-label ml-3">
    <input
      type="text"
      pInputText
      required="true"
      id="lastName"
      [formControl]="lastName"
    />
    <label for="lastName">Nachname</label>
  </span>
</div>
<div class="flex justify-content-center mt-3">
  <span class="p-float-label">
    <input
      type="text"
      pInputText
      required="true"
      id="email"
      [formControl]="email"
    />
    <label for="email">Email</label>
  </span>
  <span class="p-float-label ml-3">
    <p-calendar
      [required]="true"
      [formControl]="birthday"
      dateFormat="dd.mm.yy"
    ></p-calendar>
    <label for="birthday">Geburtstag</label>
  </span>
</div>
<div class="flex justify-content-center mt-3">
  <span class="p-float-label">
    <input
      type="text"
      pInputText
      required="true"
      id="street"
      [formControl]="street"
    />
    <label for="street">Straße</label>
  </span>
  <span class="p-float-label ml-3">
    <input
      pKeyFilter="int"
      pInputText
      required="true"
      id="houseNumber"
      [formControl]="houseNumber"
    />
    <label for="houseNumber">Hausnummer</label>
  </span>
</div>
<div class="flex justify-content-center mt-3">
  <span class="p-float-label">
    <input
      pInputText
      pKeyFilter="int"
      required="true"
      id="postcode"
      [formControl]="postcode"
    />
    <label for="postcode">Postleitzahl</label>
  </span>
  <span class="p-float-label ml-3">
    <input
      type="text"
      pInputText
      required="true"
      id="city"
      [formControl]="city"
    />
    <label for="city">Stadt</label>
  </span>
</div>

<!-- Buttons -->
<div class="flex justify-content-evenly mt-6">
  <p-button
    label="Zurück"
    icon="pi pi-arrow-left"
    [text]="true"
    (click)="onAbort()"
  ></p-button>
  <p-button
    label="Speichern"
    severity="success"
    icon="pi pi-save"
    (click)="onSave()"
    class="ml-8"
  ></p-button>
</div>
