<div class="p-2">
  <div>
    <h6 class="font-bold" style="text-decoration: underline">
      Neue Anwesenheit eintragen
    </h6>
    <div class="flex">
      <div>
        <label for="dropdown" class="font-bold block mb-2">Benutzer</label>
        <p-dropdown inputId="dropdown" [style]="{ 'min-width': '20rem' }" />
      </div>
      <div class="ml-3">
        <label for="calender" class="font-bold block mb-2">Datum</label>
        <p-calendar
          inputId="calender"
          [ngModel]="selectedDate()"
          dateFormat="dd.mm.yy"
          [showButtonBar]="true"
          [iconDisplay]="'input'"
          [showIcon]="true"
        />
      </div>
      <p-button label="Speichern" class="ml-3" (onClick)="saveAttendance()" />
    </div>
  </div>
  <div class="mt-4">
    <h6>Liste aller Anwesenheiten</h6>
    <p-table [value]="attandences" styleClass="p-datatable-striped">
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Tag</th>
          <th>Abteilung</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-attandence>
        <tr>
          <th>{{ attandence.user_id }}</th>
          <th>{{ attandence.date }}</th>
          <th>{{ attandence.department_id }}</th>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
