<div>
  <p-button
    label="Mitglied hinzufügen"
    icon="pi pi-plus"
    (click)="onCreateUser()"
  ></p-button>
</div>
<p-divider></p-divider>
<div class="grid grid-nogutter">
  <div class="col-12" *ngFor="let user of store.users(); let first = first">
    <div
      class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4"
      [ngClass]="{ 'border-top-1 surface-border': !first }"
    >
      <div
        class="flex flex-column sm:flex-row justify-content-between align-items-start flex-1 xl:align-items-start gap-4"
      >
        <!-- Name, Tags und Beitrag -->
        <div
          class="col-3 flex flex-column align-items-center sm:align-items-start gap-3"
        >
          <div class="text-2xl font-bold text-900">
            {{ user.first_name }} {{ user.last_name }}
          </div>
          <div class="flex">
            <div
              *ngIf="hasBirthdayToday(user)"
              style="color: rgb(242, 8, 242)"
              class="mr-2"
            >
              <i class="pi pi-gift text-2xl" pTooltip="Hat Geburtstag 🎂"></i>
            </div>
            <p-tag
              *ngIf="user.is_active; else inactive"
              value="Aktiv"
              severity="info"
              class="mr-2"
            ></p-tag>
            <ng-template #inactive
              ><p-tag value="Inaktiv" severity="danger" class="mr-2"></p-tag
            ></ng-template>
            <p-tag
              *ngIf="checkAttendances(user)"
              value="Kaufberechtigt"
              severity="success"
            ></p-tag>
          </div>
          <div class="flex flex-row text-xl" *ngIf="user.departments[0]">
            <div class="font-bold mr-3">Beitrag:</div>
            <div *ngIf="!user.departments[1]">
              {{ user.departments[0].price | number : "1.2-2" }}
              <i class="pi pi-euro"></i>
            </div>
            <div *ngIf="user.departments[1]">
              {{ 20 | number : "1.2-2" }}
              <i class="pi pi-euro"></i>
            </div>
          </div>
        </div>

        <!-- Abteilungen des Mitglieds -->
        <div class="col-3 flex flex-column justify-content-start text-900">
          <p class="text-2xl font-bold">Abteilungen</p>
          <div *ngFor="let department of user.departments" class="text-xl">
            - {{ department.title }}
          </div>
        </div>

        <!-- Buttons und Dropdown, wenn mehrere Abteilungen zugeteilt sind -->
        <div class="col flex flex-column align-items-end gap-3">
          <div class="flex">
            <p-dropdown
              *ngIf="user.departments.length > 1"
              [options]="user.departments"
              [formControl]="selectedDepartment"
              placeholder="Abteilung wählen"
              optionLabel="title"
            ></p-dropdown>
            <p-button
              class="ml-3"
              label="Heute anwesend"
              icon="pi pi-stopwatch"
              [disabled]="
                user.departments.length > 1 && this.selectedDepartment == null
              "
              (onClick)="createAttendanceToday(user)"
            ></p-button>
          </div>
          <div class="flex align-items-center">
            <p-button
              class="ml-8"
              [styleClass]="'p-button-text'"
              label="Details"
              icon="pi pi-book"
              (click)="onDetails(user)"
            ></p-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-toast></p-toast>
