<p-dataView #dv [value]="store.users()">
  <ng-template pTemplate="list" let-users>
    <div class="grid grid-nogutter">
      <div class="col-12" *ngFor="let user of users; let first = first">
        <div
          class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4"
          [ngClass]="{ 'border-top-1 surface-border': !first }"
        >
          <div
            class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4"
          >
            <div
              class="flex flex-column align-items-center sm:align-items-start gap-3"
            >
              <div class="text-2xl font-bold text-900">
                {{ user.first_name }} {{ user.last_name }}
              </div>

              <div class="flex align-items-center gap-3">
                <span class="flex align-items-center gap-2">
                  <i class="pi pi-database"> {{ user.birthday }}</i>
                  <span class="font-semibold"></span>
                </span>
                <div *ngIf="user.is_active; else inactive">
                  <p-tag value="Aktiv" severity="success"></p-tag>
                </div>
              </div>
              <ng-template #inactive
                ><p-tag value="Inaktiv" severity="danger"></p-tag
              ></ng-template>
            </div>
            <div class="ml-auto flex flex-column">
              <p-button class="mb-2" label="Heute anwesend"></p-button>
              <p-button
                [styleClass]="'p-button-text'"
                label="Details"
              ></p-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataView>
